@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #4A516D;
  --bacground-color: #B5E2FA;
  --answers-bg-color: #0FA3B1;
  --progress-bar-color: #307619;
}

body {
  color: var(--text-color);
  background: var(--bacground-color);
}

.answer-buttons {
  background-color: var(--answers-bg-color);
  color: white;
}

.progress-bar {
  background-color: var(--progress-bar-color);
}
